APP_NAME=TogeDog API
APP_VERSION=0.1.0
DEBUG=true
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# Firebase
# 다운로드한 JSON 파일명 그대로 사용 가능 (예: lg-dx-school-f208d-firebase-adminsdk-....json)
FIREBASE_CREDENTIALS_PATH=./lg-dx-school-f208d-firebase-adminsdk-fbsvc-f03185a005.json
FIREBASE_DATABASE_URL=https://lg-dx-school-f208d-default-rtdb.asia-southeast1.firebasedatabase.app
